
#personal-photo{
    width: 20em;
    margin: 2em 0 0 2.5em;
}

#personal-vector-photo{
    width: 20em;
    margin: 2em 0 0 2.5em;
}

#contact-about {
    margin-top: -2.5em;
    margin-left: 2.2em;
}

.about-title{
    margin: 4em 0em 1em 25em;
}

.about-subtitle{
    margin: 4em 0em 1em 38em;
    width: 40%;
    
    font-weight: 300;
    font-size: large;
    
    white-space: pre-line;    


}