* { 
    background-color: #FFF9F4;
}

.home-container-1{
    width: 100%;
    position: relative; 
    background-color: transparent;
}


#text-box-1{
    position: absolute;
    z-index: 0;
    width: 50vw;
    margin-left: 5vw;
    margin-top: 15vw;
    background-color: transparent;
    text-align: center;

}

#photo-of-me{
    background-color: transparent;
    max-width: 100%;
    max-height: 100%;
    margin-top: -3vw;
}

#photo-box{
    z-index: 4;
    margin-left: 50vw;
    width: 50vw;
    background-color: transparent;
}

header{
    display: flex;
    height: 100px;
    padding: 0px;
    align-items: center;
    background-color: transparent;
}

.contactLink-holder{
    margin-left: 2%;
    margin-right: 20%;
    display: block;
    justify-content: center;
    background-color: transparent;

}
#linkedin{
    width: 30%;
    height: auto;
    display: center; 
    background:transparent;
    
}
#mail{
    width: 30%;
    height: auto;
    display: center;
    background:transparent;

}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 20px;
}

a.active{
    color:#283719;
    padding: 0px 50px;
    background-color: transparent;
}

a.nav-bar{
    display: inline-block;
    color: darkgrey;
    text-decoration: none;
    padding: 0px 50px;
    background-color: transparent;

}

a.nav-bar:hover{
    color:#283719; 
    text-decoration: underline;
    background-color: transparent;

    
}

nav{
    font-family: 'Poppins', sans-serif;
    
}

.slide{
    height: 640px;
    background-color: #FFF9F4;
    display: flex;
    position: relative;
} 

.home-container-2{
    width: 100%;
    position: relative; 
    background-color: transparent;
}

.postcard-box{
    position: relative;
    margin-left: 30px;
    margin-top: 10vw;
    z-index: 0;
    background-color: transparent;
 }

.postcard-background{
    width: 90%;
    position: relative;
    background-color: transparent;
}

.postcard-border{
    width: 80%;
    height: 80%;
    margin-left: 6%;
    position: absolute;
    background: transparent;
    z-index: 1;
}

.postcard-lines{
    width: 30%;
    background: transparent;
    margin-left: 50%;
    z-index: 1;

}

.postcard-stamps{
    position: absolute;
    background: transparent;
    width: 22%;
    top: 3%;
    right: 15%;
    z-index: 1;
}

#text-box-2{
    width: 35vw;
    z-index: 1; 
    position: absolute;
    margin-top: 5vw;
    margin-left: 8vw;
    background-color: transparent;
 
}

#text-box-3{

margin-left: 55vw;
z-index: 5;
position: absolute;
margin-top: 30vw;
background-color: transparent;
}

#text-box-title{
    z-index: 1;
    margin-left: 8vw; 
    position: absolute;
    background-color: transparent;
}

#postcard-maintext{
    font-size: 1.3vw; 
    font-family: 'Raleway', sans-serif;
    line-height: 2.5vw;
    text-align: left;
    background: transparent; 
    margin-top: 1vw;
}

.title{
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    background: transparent;
}

i{
    background-color: transparent;
}

.title-postcard{
    font-size: 3vw;
    margin-top: 1vw;
    font-family: 'Caveat', cursive;
    background: transparent;
}

.image{
    background-position: center;
    flex: 1;
    background-size:contain;
    background-repeat: no-repeat;
}

.content{
    position: absolute;
    z-index: 50;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0%; bottom: 0;
    left: 0%; right: 50%;
    flex-direction: column;
}

.subtitle{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    background: transparent;
}

.subtitle-2{
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    padding-top: 2vw;
}

.subtitle-3{
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    padding-top: 2vw;
}


.content-holder{
    flex: 1;
}

.about-section{
    margin-top: 20vw;
    text-align: center;

}

 .image{
    position: relative; 
} 

.text{
    position: absolute;
    z-index: 2;
    background: transparent;
    top: 2%;
    left: 16%;
    display: block;
    justify-content: center;
    width: 35%;

}

.text-2{
    position: absolute;
    z-index: 2;
    background: transparent;
    top: 50%;
    left: 62%;
}

.resume{
    position: absolute;
    text-decoration: none;
    color: black;
    background: transparent;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding-top: 4vw;
    margin-left: 3vw;
}

.resume:hover{
    color: cornflowerblue;
    background: transparent;
}

.bottom-container{
    height: 28vw;
    width: 100%;
    background-color: #6B715C;
    z-index: 0;
}



body{
    padding: 0;
    margin: 0;
}

.icon-box-1{
    width:3vw;
}

.icon-box-2{
    width:3vw;
    margin-left: 6vw;
}

#linkedin2{
    width:3vw;
    height: auto;
    background: transparent; 
    margin-right: 1vw;
    position: absolute;
    z-index: 1;
}

#linked2_green{
    width:3vw;
    height: auto;
    background: transparent; 
    margin-right: 1vw;
    position: absolute;
    z-index: 0;
}

#linkedin2:hover{
    display: contents;
}

#mail2{
    width:3vw;
    height: auto;
    background: transparent; 
    margin-right: 1vw;
    position: absolute;
}

#mail_green{
    width:3vw;
    height: auto;
    background: transparent; 
    margin-right: 1vw;
    position: absolute;
}

#mail2:hover{
    display: contents;
}

.bottom-title{
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    text-align: left;
    color: #FDFAE0; 
    padding: 3vw;
}

.images{
    margin-left: 3vw;
    margin-top: -2vw;
    margin-bottom: 5vw;
    background: transparent; 
}

.bottom-tags{
    display: block;
    font-size: 1.5vw;
    background: transparent;
    margin-bottom: 2vw;
}
.nav-tag:hover{
    color: #283719;
}

.nav-tag{
    text-decoration: none;
    color: #FDFAE0; 
    background: transparent;
    font-family: 'Roboto', sans-serif;;
}

.nav-tags{
    background: transparent;
    margin-top: 2vw;
}

/*new stuff below here is from About page*/
.about-section-1{
    width: 90%;
    height: 50vw;
    position: relative;
    margin: 10vw;
    top: 10vw;
    background-color: transparent;
}

.image-container{
    width: 30%;
    position: absolute;
    background-color: transparent;

}

#about-image-1{
    width: 100%;
    background-color: transparent;
}

.description-container{
    z-index: 9;
    margin-left: 50%;
    width: 40%;
    background-color: transparent;
}

.knowledge{

    width: fit-content;
    margin-top: -8vw;
}

.hobbies{
    width: fit-content;
    margin-top: -10vw; 
    margin-bottom: -10vw;
}

.description-container-right{
    z-index: 9;
    margin-right: 20%;
    width: 40%;
    background-color: transparent;
}

.image-container-left{
    width: 30%;
    position: absolute;
    background-color: transparent;
    margin-left: 60%;
    top: 0vw;
}

#brain{
    z-index: 10;
    background-color: transparent;
    position: absolute;
    top: -3vw;
    right: 8vw;
}

#facts{
    z-index: 10;
    background-color: transparent;
    position: absolute;
    top: -3vw;
    left: 6vw;
}

#hokusai{
    z-index: 10;
    width: 10vw;
    background-color: transparent;
    position: absolute;
    top: 25vw;
    right: 20vw;
}

.space{
    width: 90%;
    height: 10vw;
    position: relative;
    margin: 10vw;
    top: 10vw;
}

/*This below is work stuff*/
.information-section{
    width: 90%;
    height: 50vw;
    position: relative;
}

.work-image-container{
    width: 20vw;
    height: 1vw;
    margin-left: 10vw;
    margin-top: 10vw;
    background-color: chartreuse;
    position: absolute;
}

.work-image{
    max-width:100%;
    max-height: 100%;
}

.work-text-container{
    background-color: pink;
    width: 40vw;
    margin-left: 50vw;
    margin-top: 10vw;
    position: absolute;
    z-index: 1;
}

.work-front-1{
    position: absolute;
    z-index: 1;
    width: 20vw;
    background-color: transparent;
    margin-top: 27vw;
    margin-left: 10vw;
}
.work-back-1{
    position: absolute;
    z-index: 0;
    width: 25vw;
    margin-top: 15vw;
    background-color: transparent;
}

.work-front-2{
    position: absolute;
    z-index: 1;
    width: 10vw;
    background-color: transparent;
    margin-top: 27vw;
    margin-left: 8vw;
}
.work-back-2{
    position: absolute;
    z-index: 0;
    width: 35vw;
    margin-top: 5vw;
    margin-left: 3vw;
    background-color: transparent;
}

.work-front-3{
    position: absolute;
    z-index: 1;
    width: 25vw;
    background-color: transparent;
    margin-top: 10vw;
    margin-left: 8vw;
}
.work-back-3{
    position: absolute;
    z-index: 0;
    width: 25vw;
    margin-top: 20vw;
    margin-left: 2vw;
    background-color: transparent;
}